<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
          <div class="col-sm-10">
            <div class="cart">
              <div class="cart-body">
                <h1>You haven't Verified your Email yet</h1>
                <p>Please verify your email which is sent to <strong>{{email}}</strong> before continuing</p>
              </div>
              <button class="btn btn-primary">Send Email Again</button>
            </div>
          </div>
        </div>
    
</body>
</html>